@model SewingFactory.Models.RawMaterialP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RawMaterialP</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RawMaterials.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RawMaterials.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
