@model SewingFactory.Models.Employees

@{
    ViewBag.Title = "Удаление профиля";
}


<h3>Вы уверены, что хотите удалить профиль?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Фио")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayName("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayName("Должность")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostEmploees.Name)
        </dd>

        <dt>
            @Html.DisplayName("Рабочая группа")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingGroup1.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a href="/Employees/" class="btn btn-default">Назад </a>
        </div>
    }
</div>
